# Copy to `.env` and tweak as needed

# Metabase source to build from
METABASE_REPO=https://github.com/metabase/metabase.git
METABASE_REF=master

# ee = Enterprise (required for connection impersonation). Use oss for open-source.
MB_EDITION=ee
